
header {
    text-align: center;
    padding: 5% 0 2% 0;
    font-family: 'Bubblegum Sans', sans-serif;
    background-color: white;
    color: black;
    height: 80vh;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

header h1 {
    font-size: 8vw;
    margin: 6vh 0 2vh 0;
    line-height: 1;
}

header p {
    font-size: 3vw;
    margin: 1vh 0;
    line-height: 1;
}


.navbar {
    font-family: 'Roboto', sans-serif;
    background: transparent;
    backdrop-filter: blur(2.5px);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 1.25vw;
    margin-top: .2vh;
    margin-bottom: .2vh;
}

.left-nav {
    margin-left: 7vh;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 7vh; 
}

.right-nav a {
    margin-left: 3vh;
}

.navbar a:hover {
    transition: all 0.3s ease;
    color: #0275ff;
}

.navbar a:active {
    color: #389af7;
}



/*when i click on a navbar, make the respective section title turn fade blue .5 s then fade back to black*/
/*when i click brendan barnett, each letter of the title, one by one, turns blue then back to black*/
/*coming soon section for web design and development business*/


/*******************************************/

.projects {
    font-size: 1vw;
    margin-left: 17.5%;
    margin-right: 17.5%;
    /*margin-top: 5%;*/
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.projects-head {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 4vw;
    margin-top: 6%;
    margin-left: -45%;
    margin-bottom: 12%;
}

/****************project1****************/

.project-img1{
    position: relative;
    width: 35vw;
    border-radius: 15px;
    margin-left: -40%;
    z-index: 5;
}
  
.project-description1 {  
    position: relative;
    margin-top: -27%;
    margin-left: 55%;
    margin-right: 0%;
    padding: 0.5vw 1vw 0.5vw 1vw;
    z-index: 90;
    text-align: right;
    background: rgb(230, 236, 246);
    border-radius: 5px;
    box-shadow: -4px 4px 6px darkgrey;
}
  
.project-title1 {
    position: absolute;
    margin-left: 45%;
    margin-top: -21.5%;
    font-size: 135%;
}

.skillsused1 {
    margin-left: 78%;
    margin-top: 1%;
    font-size: 110%;
    margin-bottom: 1%;
    text-align: right;
}

.github_logo1 {
    width: 1.75vw;
    margin-left: 97%;
    margin-top: 0%;
}

/****************project2****************/

.project-img2{
    position: relative;
    width: 35vw;
    border-radius: 15px;
    margin-top: 10%;
    margin-left: 42%;
    z-index: 5;
}
  
.project-description2 {  
    position: relative;
    margin-top: -28%;
    margin-left: 0%;
    margin-right: 54.5%;
    padding: 0.5vw 1vw 0.5vw 1vw;
    z-index: 90;
    text-align: left;
    background: rgb(230, 236, 246);
    border-radius: 5px;
    box-shadow: 4px 4px 6px darkgrey;
}
  
.project-title2 {
    position: absolute;
    margin-left: 0%;
    margin-top: -22%;
    font-size: 135%;
}

.skillsused2 {
    margin-left: 0.2%;
    font-size: 110%;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;
}

.github_logo2 {
    width: 2vw;
    margin-left: -97.5%;
    margin-top: 0%;
}

/****************project3****************/

.project-img3{
    position: relative;
    width: 35vw;
    border-radius: 15px;
    margin-left: -40.5%;
    z-index: 5;
    margin-top: 17%;

}
  
.project-description3 {  
    position: relative;
    margin-top: -25%;
    margin-left: 55%;
    margin-right: 0%;
    padding: 0.5vw 1vw 0.5vw 1vw;
    z-index: 90;
    text-align: right;
    background: rgb(230, 236, 246);
    border-radius: 5px;
    box-shadow: -4px 4px 6px darkgrey;
    font-size: 99%;
}
  
.project-title3 {
    position: absolute;
    margin-left: 37%;
    margin-top: -20.25%;
    font-size: 135%;
}

.skillsused3 {
    margin-left: 78%;
    margin-top: 1%;
    font-size: 110%;
    margin-bottom: 1%;
    text-align: right;
}

.github_logo3 {
    width: 1.75vw;
    margin-left: 97%;
    margin-top: 0%;
}

/****************project4****************/

.project-img4{
    position: relative;
    width: 35vw;
    border-radius: 15px;
    margin-top: 17%;
    margin-left: 42%;
    z-index: 5;
}
  
.project-description4 {  
    position: relative;
    margin-top: -22%;
    margin-left: 0%;
    margin-right: 54.5%;
    padding: 0.5vw 1vw 0.5vw 1vw;
    z-index: 90;
    text-align: left;
    background: rgb(230, 236, 246);
    border-radius: 5px;
    box-shadow: 4px 4px 6px darkgrey;
    font-size: 98.5%;
}
  
.project-title4 {
    position: absolute;
    margin-left: 0%;
    margin-top: -18.25%;
    font-size: 135%;
}

.skillsused4 {
    margin-left: 0.2%;
    font-size: 110%;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;
}

.github_logo4 {
    width: 2vw;
    margin-left: -97.5%;
    margin-top: 0%;
}

/****************project5****************/

.project-img5{
    position: relative;
    width: 35vw;
    border-radius: 15px;
    margin-left: -40%;
    z-index: 5;
    margin-top: 17%;
    margin-bottom: 5.5%;
}
  
.project-description5 {  
    position: relative;
    margin-top: -27%;
    margin-left: 55%;
    margin-right: 0%;
    padding: 0.5vw 1vw 0.5vw 1vw;
    z-index: 90;
    text-align: right;
    background: rgb(230, 236, 246);
    border-radius: 5px;
    box-shadow: -4px 4px 6px darkgrey;
}
  
.project-title5 {
    position: absolute;
    margin-left: 52.5%;
    margin-top: -21.5%;
    font-size: 135%;
}

.skillsused5 {
    margin-left: 78%;
    margin-top: 1%;
    font-size: 110%;
    margin-bottom: 1%;
    text-align: right;
}

.github_logo5 {
    width: 1.75vw;
    margin-left: 97%;
    margin-top: 0%;
    margin-bottom: 10%;
}





/**************************************************************************/


/* Ensure sections begin after the header */
section {
    padding-top: 5vw; /* Adjust padding to push content down */
    padding-bottom: 2vw;
}

section:not(:last-child) {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

.container {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20px; /* Ensure proper spacing between sections */
}



/* section separation */
section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section:not(:last-child) {
    border-bottom: 1px solid lightgray; 
    margin-bottom: 20px;
}

.container {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

.resumebutton {
  margin-top: 6%;
  margin-left: 0%;
  width: 12vw;
  background-color: #0274ff;
}

.resumebutton a:hover {
    background-color: #389af7;
}

.resumebutton a:active {
    background-color: #68b5fc;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


/*
h1 {
    font-size: 2.5em;
    margin: 5px 0;
}

h2 {
    font-size: 1.5em;
    margin: 5px 0;
}

h3 {
    font-size: 1.2em;
    margin: 5px 0;
}

p {
    margin: 5px 0;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}*/

a {
    color: white;
    text-decoration: none;
}

.project {
    margin-bottom: 20px;
}

