
header {
    text-align: center;
    padding: 5% 0 2% 0;
    font-family: 'Bubblegum Sans', sans-serif;
    background-color: white;
    color: black;
    height: 80vh;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

header h1 {
    font-size: 8vw;
    margin: 6vh 0 2vh 0;
    line-height: 1;
}

header p {
    font-size: 3vw;
    margin: 1vh 0;
    line-height: 1;
}


/*******************************************/

.navbar {
    font-family: 'Roboto', sans-serif;
    background: transparent;
    backdrop-filter: blur(2.5px);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 1.25vw;
    margin-top: .2vh;
    margin-bottom: .2vh;
}

.left-nav {
    margin-left: 7vh;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 7vh; 
}

.right-nav a {
    margin-left: 3vh;
}

.navbar a:hover {
    transition: all 0.3s ease;
    color: #0275ff;
}

.navbar a:active {
    color: #389af7;
}



/*******************************************/







/* Ensure sections begin after the header */
section {
    padding-top: 5vw; /* Adjust padding to push content down */
    padding-bottom: 2vw;
}

section:not(:last-child) {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

.container {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20px; /* Ensure proper spacing between sections */
}



/* section separation */
section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section:not(:last-child) {
    border-bottom: 1px solid lightgray; 
    margin-bottom: 20px;
}

.container {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

.resumebutton {
  margin-top: 6%;
  margin-left: 0%;
  width: 12vw;
  background-color: #0274ff;
}

.resumebutton a:hover {
    background-color: #389af7;
}

.resumebutton a:active {
    background-color: #68b5fc;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


/*
h1 {
    font-size: 2.5em;
    margin: 5px 0;
}

h2 {
    font-size: 1.5em;
    margin: 5px 0;
}

h3 {
    font-size: 1.2em;
    margin: 5px 0;
}

p {
    margin: 5px 0;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}*/

a {
    color: white;
    text-decoration: none;
}

.project {
    margin-bottom: 20px;
}

